.search-container {
  margin-top: 50px;
  .search-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
  }
  .no-result {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  #total-result {
    text-align: right;
    color: #B92B27;
    font-size: 20px;
    font-weight: bold;
  }
}
